@import 'node_modules/bootstrap/scss/bootstrap';
@import 'format-height';
@import 'Home';
@import 'background-gradient';

.main-height {
  min-height: 83vh;
}

.image-container {
  width: 100%;

  > div {
    position: unset;
  }

  img {
    object-fit: contain;
    width: 100%;
    position: relative;
    height: unset;
  }
}
